.Msg__home{
    margin-top: 8%;
    font-family: Lemon milk bold;
}
.msg__home{
    margin-top: 2%;
    border : 4px solid #3388FF;
    margin: auto;
    width: 60%;
    align-items: center !important;
    padding: 3%;
}

.msg2{
    width : 700px !important;
    margin: auto !important;
    margin-bottom: 15%;
}
.button__admin__msg{
    margin: auto !important;
    text-align: center !important;
    margin-top: 25px !important;
}