.sidenav---sidenav---_2tBP{
    position: relative;
}

.sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T{
    position: relative;
    white-space: nowrap;
    color: #fff;
    font-size: 17px !important;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}