.admin__home{
    margin: auto;
    text-align: left !important;
    font-family: Lemon milk bold;
    width: 50%;
    height: auto;
    border: 4px solid #3388FF;
    padding: 4px;
}
.form-control-file{
    border: 1px solid #3388FF;
    width: 400px !important;
}
.button__admin{
    margin: auto !important;
    text-align: center !important;
    margin-top: 5px !important;
}
.formm{
    margin-top: -15px !important;
    margin: auto !important; 
}